MARIADB_ROOT_PASSWORD=change_this_local_password
ILIAS_PORT=28084
MARIADB_PORT=28306
ILIAS_SOURCE_URL=https://github.com/ILIAS-eLearning/ILIAS.git
ILIAS_SOURCE_REF=release_10
KEYCLOAK_ISSUER=http://1up-keycloak.localhost:28080/realms/university-dev
KEYCLOAK_INTERNAL_ISSUER=http://host.docker.internal:28080/realms/university-dev
KEYCLOAK_CLIENT_ID=ilias
KEYCLOAK_CLIENT_SECRET=ilias-dev-secret
DOCKER_HOST_GATEWAY_IP=host-gateway
